<footer>
    <div class="container-fluid bg-dark">
        <div class="container text-white">
            <div class="d-flex justify-content-center">
                <span class="fs-3 p-5">MyMob</span>
            </div>
            <div class="d-flex justify-content-center border border-warning d-none d-lg-flex">
                <div class="mx-3 p-5 d-block border-end w-25">
                    <div class="text-center">
                        <span>E-mail</span>
                    </div>
                    <div>
                        <span>mymobkontakt@outlook.com</span>
                    </div>
                </div>

                <div class="mx-3 p-5 d-block border-end w-25">
                    <div class="text-center">
                        <span>Телефон</span>
                    </div>
                    <div class="text-center">
                        <span>078 702 604</span>
                    </div>
                </div>

                <div class="mx-3 p-5 pb-0 d-block w-25">
                    <div class="text-center">
                        <span>Социјални Медиуми </span>
                    </div>
                    <div class="text-center">
                        <i class="bi bi-facebook mx-4"></i>
                        <i class="bi bi-instagram mx-4"></i>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="container-fluid bg-dark m-0 p-0 mt-0">
        <img src="{{ MEDIA_URL }}/images/images/app/map-img.png/" class="w-100 p-0 m-0">
    </div>
    <div class="container-fluid bg-dark d-flex justify-content-center text-white-50">
        <span class="p-2">MyMob Copyright &copy; 2023</span>
    </div>
</footer>